<h1><%= @patient.name %></h1>

<form class="" action="/change_doctor" method="post">
  <input type="hidden" name="patient_id" value="<%= @patient.id() %>">
  <input type="text" name="doctor_id" value="">doctor_id
  <button type="submit" name="button">Assign Doctor</button>
</form>
