<form class="" action="doctor/create" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="specialty" value="">
  <button type="submit" name="button">Add Doctor</button>
</form>
