<form class="" action="doctor/create" method="post">
  <label for="name">Name
    <input type="text" name="name" value="">
  </label>
  <label for="specialty">Specialty
    <input type="text" name="specialty" value="">
  </label>
  <button type="submit" name="button">Add Doctor</button>
</form>
