<h1>Administator</h1>

  <ul>
    <% @doctors.each()do |doctor| %>
        <li><a href="/doctor/<%= doctor.id()%>"><%= doctor.name()%> </a> </li>
    <% end %>

  </ul>

<a href="/doctor_new">Add Doctor</a>
